
<!-- <%= stylesheet_link_tag "trips", property: :stylesheet %> -->
<%= javascript_include_tag "optiroute" %>
<%= javascript_include_tag "trips" %>
<%= javascript_include_tag "trips.controller" %>
<%= javascript_include_tag "destination.factory" %>
<%= javascript_include_tag "trips.factory" %>
<%= javascript_include_tag "destinations" %>
<%= javascript_include_tag "trip.form.controller" %>
<%= javascript_include_tag "trips.show.controller" %>
<%= javascript_include_tag "trip.form.directive" %>
<%= javascript_include_tag "itinerary.factory" %>




<div data-ng-app="optiroute">
  <main data-ui-view></main>
</div>
