<!DOCTYPE html>
<html>
<head>
  <title>RouteOptimizer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Welcome to Route Optimizer</h1>
  <h2><%= link_to "New Trip", new_trip %></h2>

<%= yield %>

</body>
</html>
