<!DOCTYPE html>
<html>
<head>
  <title>OptiRoute</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'materialize/js/materialize.min.js', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "materialize/css/materialize.min.css", property: :stylesheet %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
